<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{191,211},{114,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,113}</string>
                <key>spriteSourceSize</key>
                <string>{114,113}</string>
                <key>textureRect</key>
                <string>{{191,211},{114,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,104}</string>
                <key>spriteSourceSize</key>
                <string>{147,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{147,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,103}</string>
                <key>spriteSourceSize</key>
                <string>{136,103}</string>
                <key>textureRect</key>
                <string>{{150,1},{136,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,97}</string>
                <key>spriteSourceSize</key>
                <string>{125,97}</string>
                <key>textureRect</key>
                <string>{{1,213},{125,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,89}</string>
                <key>spriteSourceSize</key>
                <string>{122,89}</string>
                <key>textureRect</key>
                <string>{{100,213},{122,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,89}</string>
                <key>spriteSourceSize</key>
                <string>{130,89}</string>
                <key>textureRect</key>
                <string>{{288,1},{130,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{306,183},{152,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,46}</string>
                <key>spriteSourceSize</key>
                <string>{152,46}</string>
                <key>textureRect</key>
                <string>{{354,183},{152,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,130}</string>
                <key>spriteSourceSize</key>
                <string>{89,130}</string>
                <key>textureRect</key>
                <string>{{288,92},{89,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,104}</string>
                <key>spriteSourceSize</key>
                <string>{140,104}</string>
                <key>textureRect</key>
                <string>{{1,107},{140,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,103}</string>
                <key>spriteSourceSize</key>
                <string>{134,103}</string>
                <key>textureRect</key>
                <string>{{150,106},{134,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animate.png</string>
            <key>size</key>
            <string>{419,339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30d5bb2bdd8fc69cc52c3a298502b669:3a4aa6977dfb63a7dc6f8efa64a4d624:71360160189ada85a06ccd7c1eeb6fda$</string>
            <key>textureFileName</key>
            <string>animate.png</string>
        </dict>
    </dict>
</plist>
